# ==============================
# Server-side Environment Variables
# These variables are only available on the server
# ==============================

# DATABASE_URL=postgres://<username>:<password>@<host>:<port>/<database>

DATABASE_URL=postgres://e258ebda102d2c02641da4d4bc39750a51cd7376b5a0ca94536821407aa49b17:sk_V39nIz0z6UC60_N6koMQK@db.prisma.io:5432/postgres?sslmode=require

# ==============================
# Client-side Environment Variables
# Must be prefixed with NEXT_PUBLIC_
# These are exposed to the browser
# ==============================

NEXT_PUBLIC_API_BASE_URL=https://api.example.com
